@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');
@import "tailwindcss";

/* your existing CSS below */
html,body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-inverted
{
  filter:invert(100%);
}
.navlink
{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
